* { 
  box-sizing: border-box; 
}


.gifs { 

	  display: inline-block;
 }


.container { 
	max-width: 1200px;
 }


p, form, h1 { 
	font-family: 'Space Mono', monospace;
	color: #2B4970; 

 }

	
button { 
	width: 150px;
	background-color: #2B4970;
	color: white;
  }



form { 
	margin-top: 40px;

   }


.gifarea { 
	margin-top: 40px;
	
 }

 .col-md-2 { 
	margin-top: 26px;
	width: 115px;
	margin-right: 0px;
	padding-right:0px;
  }

  .col-md-10{ 
	margin-left: 0px;
	padding-left: 0px;

   }